
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome in the "Vidly" store.
    </h1>
    <h1>
        Please Log in or Register if you do not have an account yet.
    </h1>
    <br />
    <h1>
        Have a nice day and tasty coffe 🙂
    </h1>

</div>

