@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome in the "Vidly" store.
    </h1>
    <h1>
        Access to movies that you want to order will be available by
        clicking an option on the navigation bar
    </h1>
    <br />
    <h1>
        Have a nice day and tasty coffe 🙂
    </h1>

</div>
