@model int
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout Complete</h2>
<br />
<h4>Thanks for your order! Your order number is: <b> @Model </b></h4>
<h4>
    Have a nice day !
</h4>